transformers>=4.45.0
peft>=0.13.0
accelerate>=1.0.0
bitsandbytes>=0.44.0
datasets>=3.0.0
evaluate>=0.4.0
huggingface_hub[hf_transfer]
ray[data,train,tune]==2.56.1
safetensors>=0.4.0
sentencepiece>=0.2.0
tokenizers>=0.20.0
trl>=0.12.0
torch>=2.4.0
pyyaml
psutil
nvidia-ml-py
sagemaker>=2.232.0
